 .container{

    display: block;
    border-radius: 8px;
    font-family:Arial;
    background-color:rgb(238, 234, 234) ;
     max-width:600px;
    margin:auto;
  height: 700px
}
.title{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    margin : 0 auto;
}
.form-box{
    padding: 0 80px;
    madx-width: 500px;
      margin: 15px 0;

    
}

span{
    color: grey;
    display:block;
    font-size:12px;
 
}
 button{
    border: none;
    border-radius: 4px;
    padding: 15px;
    background: red;
    color:white;
 margin-top: 15px;
 width: 200px;
 }


.field{
display:inline-block;
margin-right:10px;
}
.row
{
    display:inline-block ;
    height: 25px;
    width: auto;

}

.column{
    display: inline-block;
    padding: 30px;
}
